.targetAudience {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #161616, #161616),
  linear-gradient(0deg, #515151, #515151);
  color: white;
  text-align: center;
  width: 100%;
}

.containerImagens {
  display: flex;
  align-items: center;
  justify-content: center;
 flex-wrap: wrap;
}

.divImagensTextos {
  display: flex;
  flex-direction: column;
}

.divImagensTextos img {
  margin-bottom: 20px;
}

@media screen and (max-width: 623px) {
  .divImagensTextos img {
    max-width: 550px;
  }
}

@media screen and (max-width: 586px) {
  .divImagensTextos img {
    max-width: 400px;
  }
}

@media screen and (max-width: 586px) {
  .divImagensTextos img {
    max-width: 350px;
  }
}

.containerPublicoAlvo {
  display: flex;
  margin: auto;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.containerPublicoAlvo img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.containerPublicoAlvo p {
  font-size: 15px;
  color: #3FFFFF;
}

.caixa1 {
  background-color: rgba(52, 52, 52, 1);
  width: 100px;
  height: 100px;
}

